/* *********** Hero-Section ************ */
#page-header{
    background-image: url(../img/banner/b1.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: white;
}

/* *********** Slider-Section ************ */
#pagination{
    text-align: center;
    padding-top: 0;
}

#pagination a{
    text-decoration: none;
    background-color: #e8f6ea;
    padding: 15px 20px;
    margin: 0 5px;
    border-radius: 50px;
    color: #088178;
    line-height: 40px;
    font-size: 600;
    font-weight: 600;
}

#pagination a:hover{
    background-color: #088178;
    color: #e8f6ea;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}