@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Track */
::-webkit-scrollbar {
  width: 12px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #E3E6F3;
  border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/********** Global Styles ************/

h1 {
  font-size: 3.125rem;
  line-height: 4rem;
  color: #222;
}

h2 {
  font-size: 2.875rem;
  line-height: 3.375rem;
  color: #222;
}

h4 {
  font-size: 1.5rem;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: all 0.3s ease;
}

body {
  width: 100%;
}


/* **************** Header Start  **************** */
#Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

.head-Cart{
  font-size: 1.3rem;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* responsive part */

#mobile {
  display: none;
  align-items: center;
}

#Close {
  display: none;
}


/* ************* Home-Page ******************** */

#img-slider{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

#img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

#img-slider .slide img{
  z-index: 1;
  width: 100vw;
  height: 110vh;
  border-radius: 5px;
  object-fit: cover;
  position: relative;
  object-fit: cover; 
  object-position: top 25% right ;
  margin-top: 100px;
}


#img-slider .slide .info {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  object-position: cover;
  top: 50%; 
  transform: translateY(-50%);
  padding: 0 80px;
}

.select-none{
  user-select: none;
}

#img-slider .slide .info h4 {
  padding-bottom: 15px;
}

#img-slider .slide .info h1 {
  color: #088178;
}

#img-slider .slide .info button {
  background: url(../img/button.png);
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#img-slider .slide-navigation{
  z-index: 99;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

#img-slider .slide-navigation .btn{
  background: #1c1c1cba;
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#img-slider .slide-navigation .btn.active{
  background: #088178;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}


/* *************** Feature-Section *************** */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  cursor: pointer;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

.fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}


/* *********** Product 1 **************/

#product1 {
  text-align: center;
}

#product1 .pro-container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: all 0.3s ease;
  position: relative;
}


#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  position: absolute;
  bottom: 20px;
  right: 15px;
}


/* *************** Call to Action **************** */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: white;
  font-size: 16px;
}

#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
}

#banner button:hover {
  background-color: #088178;
  color: #fff;
}

/* ********** Small Banner************ */
#sm-banner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#sm-banner .bannner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url(../img/banner/b17.jpg);
  min-width: 47%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .bannner-box h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner .bannner-box h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .bannner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}

#sm-banner .bannner-box:nth-child(2) {
  background: url(../img/banner/b10.jpg);
}

/* *********** Feature Banner **************  */
#banner3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url(../img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 h4 {
  color: white;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

#banner3 .banner-box:nth-child(2) {
  background:  url(../img/banner/b4.jpg);
  background-size: cover;
  background-position: center;
}

#banner3 .banner-box:nth-child(3) {
  background: url(../img/banner/b18.jpg);
  background-size: cover;
  background-position: center;
}
#banner3 .banner-box:nth-child(1):hover {
  background: linear-gradient(rgba(159, 158, 158, 0.114),  rgba(231, 229, 229, 0.147))  ,url(../img/banner/b7.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 7px #9f9e9e;
}

#banner3 .banner-box:nth-child(2):hover {
  background: linear-gradient(rgba(159, 158, 158, 0.114),  rgba(231, 229, 229, 0.147)) ,url(../img/banner/b4.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 7px #9f9e9e;
}

#banner3 .banner-box:nth-child(3):hover {
  background: linear-gradient(rgba(159, 158, 158, 0.114),  rgba(231, 229, 229, 0.147)) ,url(../img/banner/b18.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 7px #9f9e9e;
}


/* ************* NewsLetter **************** */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: url(../img/banner/b14.png);
  /* background-repeat: no-repeat; */
  background-position: 20% 30%;
  background-color: #041e42;
  padding: 40px 110px;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter a button {
  background-color: #088178;
  color: white;
  white-space: nowrap;
  height: 3.125rem;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


#newsletter .form {
  display: flex;
  flex-direction: row;
  width: 40%;
}


/* ************ Footer **************** */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
  cursor: pointer;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
  cursor: pointer;
}

footer .install img {
  margin: 10px 0 15px 0;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

